/* app css stylesheet */

.page-title {
  margin-top: 0;
  border-bottom: 1px solid lightgray;
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

textarea {
  width: 100%;
}

textarea[readonly] {
  cursor: text;
}

legend small {
  color: #444444;
  font-weight: bold;
}

legend small > .light {
  font-weight: normal;
}

.uneditable-input {
  cursor: text;
}

.form-horizontal .control-label {
  font-weight: bold;
  width: 130px;
}

.form-horizontal .controls {
  margin-left: 150px;
}

.accordion-group {
  border: none;
}

.accordion a {
  text-decoration: none;
}

.section-title {
  font-weight: bold;
}

.settings-buttons {
  margin-bottom: 20px;
  text-align: center;
}

.settings-buttons div {
  display: inline;
}

.settings-buttons .dropdown-menu {
  margin-top: 10px;
  max-height: 210px;
  overflow-y: auto;
  text-align: left;
}

.recipe-search-control {
  text-align: center;
}

.recipe-search-control .my-dropdown-menu {
  margin-top: 3px;
  padding-bottom: 0px;
  padding-top: 0px;
  width: 335px;
}

.recipe-search-control .search,
.recipe-search-control .search:focus {
  margin: 5px;
  border: none;
  box-shadow: none;
  width: 313px;
}

.recipe-search-control .recipe-menu-scrollable {
  margin: 0px;
  padding-bottom: 5px;
  padding-top: 5px;
  max-height: 217px;
  overflow-y: scroll;
  border-top: solid 1px rgba(0, 0, 0, 0.2);
}

.simulator-status-ok {
  color: forestgreen;
}

.simulator-status-error {
  color: crimson;
}

div[content*="xivdb"] div.tooltip-inner {
  max-width: 320px;
  background: none;
  text-align: inherit;
  padding: 0;
}

div[content*="xivdb"] div.tooltip-arrow {
  display: none;
}

/* Customized Dropdown Menu */

.my-dropdown {
  position: relative;
}

.my-dropdown-toggle {
  *margin-bottom: -3px;
}

.my-dropdown-toggle:active,
.open .my-dropdown-toggle {
  outline: 0;
}

.my-dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}

.my-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
  text-align: left;
}

.my-dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.my-dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

.my-dropdown-menu li > a {
  display: block;
  padding: 3px 11px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
  cursor: default;
}

.my-dropdown-menu li > a:hover,
.my-dropdown-menu li > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.my-dropdown-menu .active > a,
.my-dropdown-menu .active > a:hover,
.my-dropdown-menu .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.my-dropdown-menu .disabled > a,
.my-dropdown-menu .disabled > a:hover,
.my-dropdown-menu .disabled > a:focus {
  color: #999999;
}

.my-dropdown-menu .disabled > a:hover,
.my-dropdown-menu .disabled > a:focus {
  text-decoration: none;
  cursor: default;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.open > .my-dropdown-menu {
  display: block;
}


/* Class Selector */

.class-selector-group {
  margin-bottom: 10px;
}

.class-selector-group-left {
  width: 49%;
  margin-bottom: 5px;
  margin-right: 2px;
  text-align: right;
  display: inline-block;
}

.class-selector-group-right {
  width: 49%;
  margin-bottom: 5px;
  margin-left: 2px;
  text-align: left;
  display: inline-block;
}

@media (max-width: 767px) {
  .class-selector-group-left {
    width: 100%;
    margin-left: 0;
    display: block;
    text-align: center;
  }

  .class-selector-group-right {
    width: 100%;
    margin-left: 0;
    display: block;
    text-align: center;
  }
}

.class-selector .btn-group {
  margin-bottom: 5px;
}


/* Actions */

.action {
  display: inline-block;
  margin: 4px;
  display: inline-block;
  border-radius: 4px;
  box-shadow: black 1px 1px 6px 0px;
}

.selectable-action {
  cursor: pointer;
}



/* Action Table */

.action-table .action-group {
  margin-bottom: 5px;
}

.action-table .action-group-label {
  font-weight: bold;
  margin-bottom: 0px;
}

.action-table .action {
  opacity: 0.4;
}

.action-table .selected-action {
  opacity: 1;
  box-shadow: #00aaff 1px 1px 5px 1px;
}



legend + .control-group {
  margin-top: 20px;
  -webkit-margin-top-collapse: separate;
}

.action-table .control-group {
  margin-bottom: 5px;
  *zoom: 1;
}

.action-table .control-group:before,
.action-table .control-group:after {
  display: table;
  line-height: 0;
  content: "";
}

.action-table .control-group:after {
  clear: both;
}

.action-table .control-label {
  float: left;
  width: 100px;
  padding-top: 5px;
  text-align: right;
  font-weight: bold;
}

.action-table .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 120px;
  *margin-left: 0;
}

.action-table .controls:first-child {
  *padding-left: 120px;
}




/* Action Sequence */

.sequence {
  min-height: 50px;
  margin-bottom: 10px;
}

.disabled-action-list {
  opacity: 0.4;
}

.sequence .invalid-action {
  opacity: 0.4;
}

.sequence .progress {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Sequence Editor */

.edit-mode {
  background-color: mistyrose;
}

.edit-mode .sequence.well {
  border: 1px solid #f3c8c8;
}

.edit-mode .sequence-editor .sequence {
  background-color: mistyrose;
}

.sequence-editor .action {
  opacity: 1;
}

.sequence-editor .invalid-action {
  opacity: 0.4;
}

.empty-action {
  margin: 4px;
  width: 42px;
  height: 42px;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}

.sequence-editor .empty-action.lvl-target {
  outline: inset #eeeeee 2px;
  background-color: #dddddd;
}

.sequence-editor .lvl-over {
  opacity: 0.4;
}



/* Macro Modal */

.macro-modal .modal-footer {
  text-align: left;
}

.macro-modal .modal-footer .align-right {
  text-align: right;
}

.macro-modal .modal-body textarea {
  width: 90%;
}

/* Override spinner animation to make it look better */
.fa-spinner.fa-spin {
  -webkit-animation: spin 1s infinite steps(8);
  -moz-animation: spin 1s infinite steps(8);
  -o-animation: spin 1s infinite steps(8);
  animation: spin 1s infinite steps(8);
}

.invisible {
  visibility: hidden;
}

.sidebar {
  width: 160px;
  float: left;
  margin-top: 3px;
}

.sidebar .tabs-left>.nav-tabs {
  margin-right: 0px;
  border-right: none;
}

.sidebar .tabs-left>.nav-tabs>.active>a {
  background-color: #eeeeee;
  font-weight: bold;
}

.sidebar .tabs-left>.nav-tabs>li {
  width: 160px;
}

.sidebar .tabs-left>.nav-tabs>li>a:hover {
  border-right-color: transparent;
}

.sidebar + div {
  overflow: hidden;
  background-color: #eeeeee;
}