/* app css stylesheet */

body {
  padding-top: 60px;
}
.sidebar-nav {
  padding: 9px 0;
}

@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.nav, .pagination, .carousel a { cursor: pointer; }

.form-horizontal .control-label, form label {
  font-weight: bold;
  width: 130px;
}

.form-horizontal .controls {
  margin-left: 150px;
}

.accordion-group {
  border: none;
}

.section-title {
  font-weight: bold;
}

.btn-group {
  margin-bottom: 20px;
}

.settings-buttons {
  margin-bottom: 20px;
}

.settings-buttons div {
  display: inline;
}

.settings-buttons .dropdown-menu {
  margin-top: 10px;
  max-height: 210px;
  overflow-y: auto;
}

textarea {
  width: 100%;
}

textarea[readonly] {
  cursor: text;
}

legend small {
  color: #444444;
  font-weight: bold;
}

legend small > .light {
  font-weight: normal;
}



/* Actions */

.action {
  display: inline-block;
  margin: 4px;
  display: inline-block;
  border-radius: 4px;
  box-shadow: black 1px 1px 6px 0px;
}

.selectable-action {
  cursor: pointer;
}



/* Action Table */

legend + .control-group {
  margin-top: 20px;
  -webkit-margin-top-collapse: separate;
}

.action-table .control-group {
  margin-bottom: 5px;
  *zoom: 1;
}

.action-table .control-group:before,
.action-table .control-group:after {
  display: table;
  line-height: 0;
  content: "";
}

.action-table .control-group:after {
  clear: both;
}

.action-table .control-label {
  float: left;
  width: 100px;
  padding-top: 5px;
  text-align: right;
  font-weight: bold;
}

.action-table .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 120px;
  *margin-left: 0;
}

.action-table .controls:first-child {
  *padding-left: 120px;
}

.action-table .action {
  opacity: 0.4;
}

.action-table .selected-action {
  opacity: 1;
  box-shadow: #00aaff 1px 1px 5px 1px;
}



/* Action Sequence */

.sequence {
  min-height: 49px;
  margin-bottom: 10px;
}

.disabled-action-list {
  opacity: 0.4;
}

.sequence .invalid-action {
  opacity: 0.4;
}



/* Sequence Editor */

.sequence-editor {
  width: 565px;
}

.sequence-editor .modal-body {
  max-height: 650px;
}

.sequence-editor .modal-body .sequence {
  max-height: 150px;
  overflow-y: auto;
}

.sequence-editor .action {
  opacity: 1;
}

.sequence-editor .invalid-action {
  opacity: 0.4;
}

.empty-action {
  margin: 4px;
  width: 42px;
  height: 42px;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}

.sequence-editor .empty-action.lvl-target {
  outline: inset #eeeeee 2px;
  background-color: #dddddd;
}

.sequence-editor .lvl-over {
  opacity: 0.4;
}



/* Macro Modal */

.macro-modal .modal-footer {
  text-align: left;
}

.macro-modal .modal-footer .align-right {
  text-align: right;
}

.macro-modal .modal-body textarea {
  width: 90%;
}

footer {
  padding: 20px;
  background-color: #f5f5f5;
}

footer p {
  margin: 0px;
}

@media (max-width: 767px) {
  footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
