/* app css stylesheet */

.dropdown-menu>li>a {
  cursor: pointer;
}

.page-title {
  margin-top: 0;
  border-bottom: 1px solid lightgray;
}

.important {
  color: red;
  font-weight: bold;
  font-style: italic;
}

.nowrap {
  white-space: nowrap;
}

textarea[readonly] {
  cursor: text;
}

legend small {
  color: #444444;
  font-weight: bold;
}

legend small > .light {
  font-weight: normal;
}

.uneditable-input {
  cursor: text;
}

.accordion a {
  text-decoration: none;
}

.section-title {
  font-weight: bold;
}

.settings-buttons {
  margin-bottom: 20px;
}

.settings-buttons>div {
  display: inline;
}

.settings-buttons .dropdown-menu {
  margin-top: 10px;
  max-height: 210px;
  overflow-y: auto;
  text-align: left;
}

.recipe-search-control .dropdown {
  display: inline-block;
}

.recipe-search-control .my-dropdown-menu {
  margin-top: 2px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.recipe-search-control .search,
.recipe-search-control .search:focus {
  margin: 5px;
  border: none;
  box-shadow: none;
  width: 313px;
}

.recipe-search-control .recipe-menu-scrollable {
  margin: 0px;
  padding-bottom: 5px;
  padding-top: 5px;
  max-height: 217px;
  overflow-y: scroll;
  border-top: solid 1px rgba(0, 0, 0, 0.2);
}

.recipe-search-control .loading {
  text-align: center;
}

@media (max-width: 320px) {
  .recipe-search-control .my-dropdown-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 0;
  }

  .recipe-search-control .recipe-menu-scrollable {
    max-height: 100%;
    overflow-y: auto;
  }
}

@media (max-height: 320px) {
  .recipe-search-control .my-dropdown-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 0;
  }

  .recipe-search-control .recipe-menu-scrollable {
    max-height: 100%;
    overflow-y: auto;
  }

  .recipe-search-control .search {
    display: none;
  }
}

.simulator-status .title {
  font-size: x-large;
  font-weight: bold;
}

.simulator-status .stats-label {
  font-weight: bold;
}

.simulator-status .align-right {
  text-align: right;
}

.simulator-status hr {
  margin-top: 5px;
  margin-bottom: 10px;
  border-top: 1px solid darkgrey;
  border-bottom: 1px solid white;
}

.bonus-stats {
  background: #f5f5f5;
  border: 2px solid #e3e3e3;
  border-radius: 3px;
  padding: 10px;
  overflow: auto;
  margin-bottom: 20px;
}

.bonus-stats table {
  width: 100%;
}

.bonus-stats form {
  margin: 0;
}

.bonus-stats td {
  vertical-align: middle;
}

.bonus-stats td.col1 {
  min-width: 110px;
  width: 120px;
}

.bonus-stats td.col2 {
  min-width: 30px;
  width: 50px;
}

.bonus-stats td.col3 {
  min-width: 30px;
  width: 50px;
}

.bonus-stats td.col4 {
  min-width: 90px;
  width: 90px;
}

.bonus-stats td.col5 {
  min-width: 30px;
  width: 50px;
}

.bonus-stats input {
  text-align: right;
  margin-bottom: 4px;
  padding: 2px;
}

@media (max-width: 767px) {
  .bonus-stats input.input-mini {
    width: 50px;
  }
}

.synth-status {
  background: #f5f5f5;
  border: 2px solid #e3e3e3;
  border-radius: 3px;
  padding: 10px;
  overflow: auto;
  margin-bottom: 20px;
}

.synth-status .progress {
  background-image: linear-gradient(to bottom, #D0D0D0, #EAEAEA);
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.1);
}

.synth-status table {
  width: 100%;
}

.synth-status td.bar {
  width: 100%;
}

.synth-status td.bar .progress {
  margin-bottom: 10px;
}

.synth-status td.bar-value {
  min-width: 7em;
  text-align: right;
  font-size: larger;
  padding-left: 10px;
  vertical-align: top;
}

.synth-status .narrow {
  line-height: 9px;
}

div[content*="actiontooltip"] div.tooltip-inner {
  /*min-width: 15em;*/
  max-width: 320px;
  text-align: left;
}

.action-tooltip-title {
  font-size: large;
  font-weight: bold;
  margin-bottom: 5px;
}

.action-tooltip-fields {
}

.action-tooltip-field-name {
  font-size: small;
  font-weight: bold;
}

.action-tooltip-field-value {
  font-size: small;
  font-weight: normal;
  float: right;
}

/*
div[content*="actiontooltip"] div.tooltip-arrow {
  display: none;
}
*/

/* Customized Dropdown Menu */

.my-dropdown {
  position: relative;
  display: inline-block;
}

.my-dropdown-toggle {
  *margin-bottom: -3px;
}

.my-dropdown-toggle:active,
.open .my-dropdown-toggle {
  outline: 0;
}

.my-dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}

.my-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
  text-align: left;
}

.my-dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.my-dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

.my-dropdown-menu li > a {
  display: inline-block;
  padding: 3px 11px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
  cursor: default;
  text-decoration: none;
}

.my-dropdown-menu li:hover {
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.my-dropdown-menu .active,
.my-dropdown-menu .active:hover,
.my-dropdown-menu .active:focus {
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.my-dropdown-menu li > a:hover,
.my-dropdown-menu li > a:focus {
  color: #ffffff;
}

.my-dropdown-menu li.active > a,
.my-dropdown-menu li.active > a:hover,
.my-dropdown-menu li.active > a:focus {
  color: #ffffff;
  outline: 0;
}

.my-dropdown-menu .disabled,
.my-dropdown-menu .disabled:hover,
.my-dropdown-menu .disabled:focus {
  color: #999999;
}

.my-dropdown-menu .disabled:hover,
.my-dropdown-menu .disabled:focus {
  text-decoration: none;
  cursor: default;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.open > .my-dropdown-menu {
  display: block;
}

.my-dropdown-menu .input-append {
  margin: 0;
}

.my-dropdown-menu .btn {
  margin: 0 !important;
}

@media (max-width: 480px) {
  .my-dropdown {
    display: block;
  }
}

@media (min-width: 600px) {
  .my-dropdown {
	  margin-left: 35px;
  }
}

@media (min-width: 800px) {
  .my-dropdown {
	  margin-left: 0;
  }
}

/* Class Selector */

.class-selector-group {
  margin-bottom: 10px;
}

.class-selector-group-left {
  width: 49%;
  margin-right: 2px;
  text-align: right;
  display: inline-block;
}

.class-selector-group-right {
  width: 49%;
  margin-left: 2px;
  text-align: left;
  display: inline-block;
}

@media (max-width: 767px) {
  .class-selector-group-left {
    width: 100%;
    margin-left: 0;
    display: block;
    text-align: center;
  }

  .class-selector-group-right {
    width: 100%;
    margin-left: 0;
    display: block;
    text-align: center;
  }
}


/* Actions */

.icon {
  display: inline-block;
}

.icon>img {
  min-width: 40px;
  min-height: 40px;
}

.buffs {
  min-height: 55px;
}

.buffs .buff {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.buff .icon {
  width: 50%;
}

.buff .icon>img {
  min-width: 20px;
  min-height: 20px;
}

.sequence-small .icon>img {
  min-width: 36px;
  min-height: 36px;
  max-width: 36px;
  max-height: 36px;
}

.icon .cp {
  position: absolute;
  bottom: 0;
  left: 2px;
  font-size: 12px;
  line-height: 12px;
  color: white;
  text-shadow: #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px;
}

.icon.action-no-cp .cp {
  color: black;
  text-shadow: red 0 0 2px, red 0 0 2px, red 0 0 2px, red 0 0 2px, red 0 0 2px, red 0 0 2px;
  font-weight: bolder;
}

.sequence-small .icon .cp {
  left: 1px;
  font-size: 10px;
  line-height: 10px;
}

.icon.wasted-action .cp {
  opacity: 0.4;
}

.icon.faded .cp {
  opacity: 0.4;
}

.icon .class-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  line-height: 12px;
}

.icon .class-icon>img {
  width: 16px;
}

.sequence-small .icon .class-icon>img {
  width: 12px;
}

.selectable {
  cursor: pointer;
}

.image-wrap {
  position: relative;
  display: inline-block;
  max-width: 100%;
  vertical-align: bottom;
}

/* image-wrap:after pseudo element (overlaying container) */
.image-wrap:after {
  content: ' ';
  width: 100%;
  height: 100%;
  position: absolute;
  top: -1px;
  left: -1px;
  border: solid 1px #303030;
  box-shadow: inset 0 0 1px rgba(255,255,255,.4), inset 0 1px 0 rgba(255,255,255,.4), 0 1px 2px rgba(0,0,0,.3);
  border-radius: 5px;
}

.image-wrap.wasted-action:after {
  opacity: 0.4;
}

.image-wrap.faded:after {
  border: solid 1px #707070;
  opacity: 0.4;
}

.image-wrap>img {
  vertical-align: bottom;
  box-shadow: black 2px 2px 6px 0;
  border-radius: 4px;
}

.image-wrap.wasted-action>img {
  box-shadow: red 2px 2px 6px 0;
  opacity: 0.4;
}

.image-wrap.faded img {
  opacity: 0.4;
}

/* glossy */
.glossy.image-wrap:before {
  position: absolute;
  content: ' ';
  width: 100%;
  height: 20%;
  top: 0;
  left: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: -moz-linear-gradient(top, rgba(255,255,255,0.6) 0%, rgba(255,255,255,.15) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.6)), color-stop(100%,rgba(255,255,255,.15)));
  background: linear-gradient(top, rgba(255,255,255,0.6) 0%,rgba(255,255,255,.15) 100%);
}

.glossy.image-wrap.faded:before {
  opacity: 0.4
}

.image-wrap.icon {
  margin: 4px;
}

/* Action Table */

.action-table .action-group {
  margin-bottom: 5px;
}

.action-table .action-group-label {
  font-weight: bold;
  margin-bottom: 0px;
}



legend + .control-group {
  margin-top: 20px;
  -webkit-margin-top-collapse: separate;
}

.action-table .control-group {
  margin-bottom: 5px;
  *zoom: 1;
}

.action-table .control-group:before,
.action-table .control-group:after {
  display: table;
  line-height: 0;
  content: "";
}

.action-table .control-group:after {
  clear: both;
}

.action-table .control-label {
  float: left;
  width: 100px;
  padding-top: 5px;
  text-align: right;
  font-weight: bold;
}

.action-table .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 120px;
  *margin-left: 0;
}

.action-table .controls:first-child {
  *padding-left: 120px;
}




/* Action Sequence */

.sequence {
  min-height: 50px;
  margin-bottom: 10px;
}

.sequence .action {
  display: inline-block;
}

.sequence-small {
  min-height: 30px;
}

.disabled-action-list {
  opacity: 0.4;
}

.sequence .faded-icon {
  opacity: 0.4;
}

.sequence .progress {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Sequence Editor */

.sequence-editor .icon {
  opacity: 1;
}

.sequence-editor .faded-icon {
  opacity: 0.4;
}

.empty-action {
  border: none;
  box-shadow: none;
  margin-top: -1px;
  margin-bottom: -1px;
}

.sequence-editor .empty-action.lvl-target {
  border-radius: 4px;
  box-shadow: rgba(0,0,0,0.4) 1px 1px 6px inset;
  margin-top: -1px;
  margin-bottom: -1px;
}

.sequence-editor .lvl-over {
  opacity: 0.4;
}

/* Modals */

@media (max-height: 533px) { /* Samsung Galaxy S portrait */
  .modal-body {
    max-height: 353px;
  }
}

@media (max-height: 480px) { /* iPhone 4 portrait */
  .modal-body {
    max-height: 300px;
  }
}

@media (max-height: 414px) { /* iPhone 6+ landscape */
  .modal-body {
    max-height: 234px;
  }
}

@media (max-height: 375px) { /* iPhone 6 landscape */
  .modal-body {
    max-height: 195px;
  }
}

@media (max-height: 320px) { /* iPhone 4 / Samsung Galaxy S landscape */
  .modal-body {
    max-height: 140px;
  }
}

/* Macro Modal */

.macro-modal .modal-footer {
  text-align: left;
}

.macro-modal .modal-footer .align-right {
  text-align: right;
}

.macro-modal .modal-body textarea {
  width: 90%;
}

/* Override spinner animation to make it look better */
.fa-spinner.fa-spin {
  -webkit-animation: spin 1s infinite steps(8);
  -moz-animation: spin 1s infinite steps(8);
  -o-animation: spin 1s infinite steps(8);
  animation: spin 1s infinite steps(8);
}

.invisible {
  visibility: hidden;
}

.sidebar {
  width: 160px;
  float: left;
  margin-top: 3px;
}

.sidebar .tabs-left>.nav-tabs {
  margin-right: 0px;
  border-right: none;
}

.sidebar .tabs-left>.nav-tabs>.active>a {
  background-color: #eeeeee;
  font-weight: bold;
}

.sidebar .tabs-left>.nav-tabs>li {
  width: 160px;
}

.sidebar .tabs-left>.nav-tabs>li>a:hover {
  border-right-color: transparent;
}

.sidebar + div {
  overflow: hidden;
  background-color: #eeeeee;
}

.settings-buttons .btn, .control-group .btn {
  margin-bottom: 5px;
}


/* Flat Icon Button */

.flat-button {
  cursor: pointer;
  padding: 2px;
  border: 1px solid transparent;
}

.flat-button:hover {
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #eeeeee;
}

.flat-button:active {
  background-color: #dddddd;
}

/* Character Import */

.charimport-results {
  overflow-y: auto;
  max-height: 350px;
  padding-left: 0;
}

.charimport-result {
  padding: 5px;
  min-height: 96px;
  border: solid 1px rgba(0, 0, 0, 0);
  vertical-align: middle;
  cursor: pointer;
}

.charimport-result-name {
  font-size: large;
  margin-bottom: 10px;
}

.charimport-result .text-error {
  text-align: center;
  vertical-align: middle;
  font-size: large;
}

.charimport-result.selected {
  border: solid 1px rgba(0, 0, 255, 0.3);
  background: rgba(0, 0, 255, 0.1);
}

.charimport-result:hover {
  background: rgba(0, 0, 255, 0.2);
}

.charimport-result td {
  padding: 3px;
}

.charimport-result td.number {
  text-align: right;
}

/* Busy animation overlay */

.cg-busy {
  margin-top: -20px;
}

@media (max-width: 980px) {
  .cg-busy {
    margin-top: 0;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Settings Import/Export Modal */

.settings-import-modal .btn.download {
  font: 20pt bold;
  padding: 25px 55px 25px 55px;
}

.settings-import-modal .centered {
  text-align: center;
}

/* Dropzone */

div[my-dropzone] {
    border: 2px dashed #bbb;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font: 20pt bold;
    color: #bbb;
    margin-bottom: 20px;
}

div[my-dropzone]:-moz-drag-over {
  border: 2px solid #bbb
}

label {
  display: inline-block;
}

.input-fill {
  width: 100%;
}

label.disabled {
    color: #ccc;
}

.macro-import-modal textarea.macro-text {
    width:100%;
    box-sizing: border-box;         /* For IE and modern versions of Chrome */
    -moz-box-sizing: border-box;    /* For Firefox                          */
    -webkit-box-sizing: border-box; /* For Safari                           */
}