/* app css stylesheet */

body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}

@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.nav, .pagination, .carousel a { cursor: pointer; }

.action-row {
}

.action {
  border: solid white;
  padding: 0px;
  margin: 2px;
}

.selected-action {
  border: solid blue;
}
