body {
  padding-top: 60px;
}

.sidebar-nav {
  padding: 9px 0;
}

@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }

  body {
    padding-top: 0px;
  }
}

.nav, .pagination, .carousel a { cursor: pointer; }
