<div class="sequence well well-small" ng-class="class">
  <div class="action" ng-repeat="action in actions track by $index">
    <div class="image-wrap glossy icon"
          ng-class="cssClassesForAction(action, $index)"
          tooltip-html-unsafe="{{actionTooltips[action]}}"
          tooltip-placement="{{tooltipPlacement}}"
          tooltip-append-to-body="true">
      <img ng-src="{{getActionImagePath(action, cls)}}"/>
      <span ng-if="actionForName(action).cpCost" class="cp">{{actionForName(action).cpCost}}</span>
      <span ng-if="iActionClassSpecific(action)" class="class-icon">
        <img ng-src="img/classes/{{actionForName(action).cls}}.png"/>
      </span>
    </div>
  </div>
</div>
