<div class="simulator-status">
  <table>
    <tr><td colspan="4">Progress</td></tr>
    <tr>
      <td class="bar" colspan="3"><progressbar value="progressPercent"></progressbar></td>
      <td class="bar-value">{{progress}} / {{recipe.difficulty}}</td>
    </tr>
    <tr><td colspan="4">Quality</td></tr>
    <tr>
      <td class="bar" colspan="3"><progressbar value="qualityPercent"></progressbar></td>
      <td class="bar-value">{{quality}} / {{recipe.maxQuality}}</td>
    </tr>
    <tr><td colspan="4">CP</td></tr>
    <tr>
      <td class="bar" colspan="3"><progressbar value="cpPercent"></progressbar></td>
      <td class="bar-value">{{cp}} / {{maxCp}}</td>
    </tr>
    <tr>
      <td width="30%">Durability {{durability}}&nbsp;/&nbsp;{{recipe.durability}}</td>
      <td width="20%">HQ&nbsp;{{hqPercent}}%</td>
      <td width="30%" class="align-right">Reliability&nbsp;{{successPercent | number: 0}}%</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</div>
