<h3 class="page-title">Crafter Attributes</h3>
<div class="row-fluid">
  <div class="span12">
    <tabset>
      <tab ng-repeat="tab in tabs" active="tab.active">
        <tab-heading><img ng-src="img/classes/{{tab.name}}.png"/> &nbsp; {{tab.name}}</tab-heading>
        <div class="row-fluid">
          <div class="span6">
            <form class="form-horizontal" name="crafterForm">
              <fieldset>
                <legend>Attributes</legend>
                <div class="control-group" ng-class="{error: !crafterForm.level.$valid}">
                  <label class="control-label">Level</label>
                  <div class="controls">
                    <input class="input-mini" type="number" name="level" ng-model="crafter.stats[tab.name].level" min="1" max="60" required/>
                  </div>
                </div>
                <div class="control-group" ng-class="{error: !crafterForm.craftsmanship.$valid}">
                  <label class="control-label">Craftsmanship</label>
                  <div class="controls">
                    <input class="input-mini" type="number" name="craftsmanship" ng-model="crafter.stats[tab.name].craftsmanship" min="0" required/>
                  </div>
                </div>
                <div class="control-group" ng-class="{error: !crafterForm.control.$valid}">
                  <label class="control-label">Control</label>
                  <div class="controls">
                    <input class="input-mini" type="number" name="control" ng-model="crafter.stats[tab.name].control" min="0" required/>
                  </div>
                </div>
                <div class="control-group" ng-class="{error: !crafterForm.cp.$valid}">
                  <label class="control-label">CP</label>
                  <div class="controls">
                    <input class="input-mini" type="number" name="cp" ng-model="crafter.stats[tab.name].cp" min="0" required/>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="span6">
            <form class="action-table">
              <fieldset>
                <legend>Available Actions</legend>
                <div class="action-group" ng-repeat="actionGroup in actionGroups">
                  <label class="action-group-label">{{actionGroup.name}}</label>
                  <div class="action-group-actions">
                    <img ng-repeat="action in actionGroup.actions track by $index"
                         class="action selectable-action"
                         ng-class="actionClasses(action, tab.name)"
                         ng-click="toggleAction(action, tab.name)"
                         ng-src="{{getActionImagePath(action, tab.name)}}"
                         tooltip-html-unsafe="{{actionTooltip(action, tab.name)}}"
                         tooltip-placement="left"
                         tooltip-popup-delay="200"
                         tooltip-append-to-body="true"/>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>
