<ng-form name="allForms">
  <div class="modal-body" isolate-scrolling>
    <tabset>
      <tab heading="Login" active="tabs.login.active">
        <ng-form name="loginForm" on-enter="login(tabs.login.info)">
          <input type="email" name="email" placeholder="Email" ng-model="tabs.login.info.email" ng-required="true" auto-focus/>
          <input type="password" name="password" placeholder="Password" ng-model="tabs.login.info.password" ng-required="true"/>
          <label class="checkbox">
            <input type="checkbox" name="rememberMe" ng-model="tabs.login.info.rememberMe"/> Keep me logged in.
          </label>
        </ng-form>
        <alert ng-show="tabs.login.error" type="'error'" close="tabs.login.error=null">{{tabs.login.error}}</alert>
      </tab>
      <tab heading="Register" active="tabs.register.active">
        <ng-form name="registerForm" on-enter="register(tabs.register.info)">
          <input type="email" name="email" placeholder="Email" ng-model="tabs.register.info.email" ng-required="true"/>
          <input type="password" name="password" placeholder="Password" ng-model="tabs.register.info.password" ng-required="true"/>
          <label class="checkbox">
            <input type="checkbox" name="rememberMe" ng-model="tabs.register.info.rememberMe"/> Keep me logged in.
          </label>
          <label class="checkbox">
            <input type="checkbox" name="importLocal" ng-model="tabs.register.info.importLocal"/> Import crafter stats and synths.
          </label>
          <span class="help-block">Import the crafter stats and saved synths that are stored on this computer into your user profile.</span>
        </ng-form>
        <alert ng-show="tabs.register.error" type="'error'" close="tabs.register.error=null">{{tabs.register.error}}</alert>
      </tab>
    </tabset>
  </div>
  <div class="modal-footer" ng-if="tabs.login.active">
    <div class="align-right">
      <button class="btn btn-primary" ng-click="login(tabs.login.info)" ng-disabled="tabs.login.inProgress || tabs.register.inProgress || allForms.loginForm.$invalid"><span ng-if="!tabs.login.inProgress">Login</span><span ng-if="tabs.login.inProgress">Logging in...</span></button>
      <button class="btn" ng-click="cancel()" ng-disabled="tabs.login.inProgress || tabs.register.inProgress">Cancel</button>
    </div>
  </div>
  <div class="modal-footer" ng-if="tabs.register.active">
    <div class="align-right">
      <button class="btn btn-primary" ng-click="register(tabs.register.info)" ng-disabled="tabs.login.inProgress || tabs.register.inProgress || allForms.registerForm.$invalid"><span ng-if="!tabs.register.inProgress">Register</span><span ng-if="tabs.register.inProgress">Registering...</span></button>
      <button class="btn" ng-click="cancel()" ng-disabled="tabs.login.inProgress || tabs.register.inProgress">Cancel</button>
    </div>
  </div>
</ng-form>
