<ng-form name="allForms">
  <div class="modal-body" isolate-scrolling>
    <tabset>
      <tab heading="Login" active="tabs.login.active">
        <ng-form name="loginForm" on-enter="login()">
          <input type="email" name="email" placeholder="Email" ng-model="info.email" ng-required="true" auto-focus/>
          <input type="password" name="password" placeholder="Password" ng-model="info.password" ng-required="true"/>
          <label class="checkbox">
            <input type="checkbox" name="rememberMe" ng-model="info.rememberMe"/> Keep me logged in.
          </label>
        </ng-form>
        <p ng-show="tabs.login.error" class="text-error">{{tabs.login.error}}</p>
      </tab>
      <tab heading="Register" active="tabs.register.active">
        <ng-form name="registerForm" on-enter="register()">
          <input type="email" name="email" placeholder="Email" ng-model="info.email" ng-required="true"/>
          <input type="password" name="password" placeholder="Password" ng-model="info.password" ng-required="true"/>
          <label class="checkbox">
            <input type="checkbox" name="rememberMe" ng-model="info.rememberMe"/> Keep me logged in.
          </label>
        </ng-form>
        <p ng-show="tabs.register.error" class="text-error">{{tabs.register.error}}</p>
      </tab>
    </tabset>
  </div>
  <div class="modal-footer" ng-if="tabs.login.active">
    <div class="align-right">
      <button class="btn btn-primary" ng-click="login()" ng-disabled="loginInProgress || registerInProgress || allForms.loginForm.$invalid"><span ng-if="!loginInProgress">Login</span><span ng-if="loginInProgress">Logging in...</span></button>
      <button class="btn" ng-click="cancel()" ng-disabled="loginInProgress || registerInProgress">Cancel</button>
    </div>
  </div>
  <div class="modal-footer" ng-if="tabs.register.active">
    <div class="align-right">
      <button class="btn btn-primary" ng-click="register()" ng-disabled="loginInProgress || registerInProgress || allForms.registerForm.$invalid"><span ng-if="!registerInProgress">Register</span><span ng-if="registerInProgress">Registering...</span></button>
      <button class="btn" ng-click="cancel()" ng-disabled="loginInProgress || registerInProgress">Cancel</button>
    </div>
  </div>
</ng-form>
