<div class="modal-header">
  <div class="row-fluid">
    <h3>Login</h3>
  </div>
</div>
<div class="modal-body container-fluid" isolate-scrolling>
  <div class="row-fluid">
    <form name="loginForm">
      <input type="email" name="email" placeholder="Email" ng-model="info.email" auto-focus/>
      <input type="password" name="password" placeholder="Password" ng-model="info.password"/>
      <label class="checkbox">
        <input type="checkbox" name="rememberMe" ng-model="info.rememberMe"/> Keep me logged in.
      </label>
    </form>
    <div ng-show="error" class="row-fluid">
      <p class="text-error">{{error}}</p>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="align-right">
    <button class="btn" ng-click="createAccount()" ng-disabled="loginInProgress || createInProgress"><span ng-if="!createInProgress">Create Account</span><span ng-if="createInProgress">Creating Account...</span></button>
    <button class="btn btn-primary" ng-click="login()" ng-disabled="loginInProgress || createInProgress"><span ng-if="!loginInProgress">Login</span><span ng-if="loginInProgress">Logging in...</span></button>
    <button class="btn" ng-click="cancel()" ng-disabled="loginInProgress || createInProgress">Cancel</button>
  </div>
</div>

