<div class="modal-header">
  <div class="row-fluid">
    <h3>Macro</h3>
    <p>Click + Ctrl/Cmd-C on each block to copy to clipboard.</p>
  </div>
</div>
<div class="modal-body" isolate-scrolling>
  <div class="row-fluid" ng-repeat="macroText in macros track by $index">
    <form name="macroTextForm">
      <h6>Macro #{{$index+1}}</h6>
      <textarea rows="16" readonly select-on-click>{{macroText}}</textarea>
    </form>
  </div>
</div>
<div class="modal-footer">
  <div class="row-fluid">
    <div class="span6">
      Wait Time: <input class="input-mini" type="number" ng-model="$parent.waitTime" min="1" required/>
    </div>
    <div class="span6 align-right">
      <button class="btn btn-primary" ng-click="close()">Close</button>
    </div>
  </div>
</div>
