<div class="modal-header">
  <h3>Sequence Editor</h3>
</div>
<div class="modal-body">
  <form class="action-table">
    <legend>Available Actions</legend>
    <fieldset>
      <div class="control-group" ng-repeat="actionGroup in actionGroups">
        <label class="control-label">{{actionGroup.name}}</label>
        <div class="controls">
          <img ng-repeat="action in actionGroup.actions track by $index"
               class="action img-rounded"
               ng-src="img/actions/{{action}}.png"
               ng-click="addAction(action)"
               ng-show="isActionVisible(action)"
               tooltip="{{allActions[action].name}}"
               tooltip-placement="top"
               tooltip-popup-delay="200"/>
        </div>
      </div>
    </fieldset>
  </form>
  <form>
    <legend>Sequence</legend>
    <img ng-repeat="action in sequence track by $index"
         class="action img-rounded"
         ng-src="img/actions/{{action}}.png"
         ng-click="removeAction($index)"
         tooltip="{{allActions[action].name}}"
         tooltip-placement="top"
         tooltip-popup-delay="200"/>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="clear()">Clear</button>
  <button class="btn btn-primary" ng-click="save()">Save</button>
  <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
</div>
