<div class="modal-header">
  <h3>Sequence Editor</h3>
</div>
<div class="modal-body">
  <form class="action-table">
    <legend>Available Actions</legend>
    <fieldset>
      <div class="control-group" ng-repeat="actionGroup in actionGroups">
        <label class="control-label">{{actionGroup.name}}</label>
        <div class="controls">
          <div ng-repeat="action in actionGroup.actions track by $index"
               class="action selectable-action"
               ng-class="actionClasses(action, recipe.cls)"
               ng-show="isActionSelected(action)">
            <img ng-src="{{getActionImagePath(action, recipe.cls)}}"
                 ng-click="addAction(action)"
                 tooltip-html-unsafe="{{sequenceActionTooltip(action, recipe.cls)}}"
                 tooltip-placement="top"
                 tooltip-popup-delay="200"
                 lvl-draggable="true"
                 data-new-action="{{action}}"/>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
  <form>
    <legend>Sequence</legend>
    <div class="sequence" id="sequenceEditorSequence" isolate-scrolling>
      <div ng-repeat="action in sequence track by $index"
           class="action selectable-action"
           ng-class="actionClasses(action, recipe.cls)">
        <img ng-src="{{getActionImagePath(action, recipe.cls)}}"
             ng-click="removeAction($index)"
             lvl-draggable="true"
             lvl-drop-target="true"
             data-index="{{$index}}"
             on-drop="dropAction(dragEl, dropEl)"/>
      </div>

      <div class="empty-action" lvl-drop-target="true"
           data-index="{{sequence.length}}"
           on-drop="dropAction(dragEl, dropEl)"/>
    </div>
  </form>
</div>
<div class="modal-footer">
  <span ng-show="simulatorRunning">&nbsp;(Running...)</span>
  <span ng-show="!simulatorRunning && isValidSequence(sequence, recipe.cls) && simulationResult.finalState != null">(Q:{{simulationResult.finalState.quality | number:0}}<span ng-show="!simulationResult.finalState.durabilityOk" class="text-error">&nbsp;Dur:{{simulationResult.finalState.durability | number:0}}</span><span ng-show="!simulationResult.finalState.cpOk" class="text-error">&nbsp;CP:{{simulationResult.finalState.cp | number:0}}</span><span ng-show="!simulationResult.finalState.progressOk" class="text-error">&nbsp;Prog:{{simulationResult.finalState.progress | number:0}}</span>)</span>
  <span ng-show="!simulatorRunning && isValidSequence(sequence, recipe.cls) && simulationResult.error != null">(Error: {{simulationResult.error}})</span>
  <button class="btn btn-warning" ng-click="clear()">Clear</button>
  <button class="btn btn-warning" ng-click="revert()">Revert</button>
  <button class="btn btn-primary" ng-click="save()">Save</button>
  <button class="btn" ng-click="cancel()">Cancel</button>
</div>
