<span ng-show="statusVar.running">
  Running <i class="fa fa-spinner fa-spin"></i>
</span>
<span ng-show="!statusVar.running">
  <span ng-show="!validator()">
    <span class="simulator-status-error"><i class="fa fa-warning"></i> invalid sequence</span>
  </span>
  <span ng-show="validator()">
    <span ng-show="statusVar.error">
      <span class="simulator-status-error"><i class="fa fa-warning"></i> {{statusVar.error}}</span>
    </span>
    <span ng-show="!statusVar.error && statusVar.finalState">
      Q:{{statusVar.finalState.quality | number:0}}
      <span ng-class="{'simulator-status-error': !statusVar.finalState.progressOk, 'simulator-status-ok': statusVar.finalState.progressOk}">
        &nbsp;Prog:{{statusVar.finalState.progress | number:0}}/{{recipe.difficulty | number:0}} <i ng-show="!statusVar.finalState.progressOk" class="fa fa-warning"></i>
      </span>
      <span ng-show="!statusVar.finalState.durabilityOk" class="simulator-status-error">
        &nbsp;Dur:{{statusVar.finalState.durability | number:0}} <i class="fa fa-warning"></i>
      </span>
      <span ng-class="{'simulator-status-error': !statusVar.finalState.progressOk, 'simulator-status-ok': statusVar.finalState.progressOk}">
        &nbsp;CP:{{statusVar.finalState.cp | number:0}} <i ng-show="!statusVar.finalState.progressOk" class="fa fa-warning"></i>
      </span>
    </span>
  </span>
</span>