<span ng-class="{'invisible': !status.running}">
  <i class="fa fa-spinner fa-spin"></i>
</span>
<span ng-show="!status.running">
  <span ng-show="!valid()">
    <span class="simulator-status-error"><i class="fa fa-warning"></i> invalid sequence</span>
  </span>
  <span ng-show="valid()">
    <span ng-show="status.error">
      <span class="simulator-status-error"><i class="fa fa-warning"></i> {{status.error}}</span>
    </span>
  </span>
</span>
<span ng-show="!status.error && status.state">
  Q:{{status.state.quality | number:0}}
  <span ng-class="{'simulator-status-error': !status.state.progressOk, 'simulator-status-ok': status.state.progressOk}">
    &nbsp;Prog:{{status.state.progress | number:0}}/{{recipe.difficulty | number:0}} <i ng-show="!status.state.progressOk" class="fa fa-warning"></i>
  </span>
  <span ng-show="!status.state.durabilityOk" class="simulator-status-error">
    &nbsp;Dur:{{status.state.durability | number:0}} <i class="fa fa-warning"></i>
  </span>
  <span ng-class="{'simulator-status-error': !status.state.progressOk, 'simulator-status-ok': status.state.progressOk}">
    &nbsp;CP:{{status.state.cp | number:0}} <i ng-show="!status.state.progressOk" class="fa fa-warning"></i>
  </span>
  <span ng-show="status.state.successPercent">
    &nbsp;Success: {{status.state.successPercent | number:0}}%
  </span>
</span>
