<h3>Solver</h3>
<hr/>
<div class="well">
  <div class="row-fluid">
    <h4>Initial Guess
      <simulator-status class="initial-guess" recipe="recipe" status="simulatorStatus" valid="isValidSequence(sequence, recipe.cls)"></simulator-status>
    </h4>
    <div class="sequence well well-small">
      <img ng-repeat="action in sequence track by $index"
           class="action"
           ng-class="actionClasses(action, recipe.cls)"
           ng-src="{{getActionImagePath(action, recipe.cls)}}"
           tooltip-html-unsafe="{{sequenceActionTooltip(action, recipe.cls)}}"
           tooltip-placement="top"
           tooltip-popup-delay="200"
           tooltip-append-to-body="true"/>
    </div>
    <div ng-show="uniqueCrossClassActions(sequence, recipe.cls).length > 0">
      <h5>Required Cross Class Actions</h5>
      <div class="sequence well well-small">
        <img ng-repeat="action in uniqueCrossClassActions(sequence, recipe.cls) track by $index"
             class="action"
             ng-src="{{getActionImagePath(action, recipe.cls)}}"
             tooltip-html-unsafe="{{actionTooltip(action, recipe.cls)}}"
             tooltip-placement="top"
             tooltip-popup-delay="200"
             tooltip-append-to-body="true"/>
      </div>
    </div>
    <div class="control-group">
      <button class="btn btn-primary" ng-click="editSequence()" ng-disabled="simulatorStatus.running">Edit Sequence...</button>
      <button class="btn btn-primary" ng-click="showMacroModal()" ng-disabled="sequence.length == 0">Macro...</button>
      <button class="btn btn-primary" ng-click="runSimulation()" ng-disabled="simulatorStatus.running || !allForms.$valid || !isValidSequence(sequence, recipe.cls)">Simulate</button>
      <button class="btn btn-primary" ng-click="runSolver()" ng-show="solverStatus.generationsCompleted == 0 && !solverStatus.running" ng-disabled="!allForms.$valid || !isValidSequence(sequence, recipe.cls)">Solve</button>
      <button class="btn btn-primary" ng-click="resumeSolver()" ng-show="solverStatus.state && !solverStatus.running" ng-disabled="!allForms.$valid || !isValidSequence(sequence, recipe.cls) || solverStatus.error">Resume Solver</button>
      <button class="btn btn-primary" ng-click="runSolver()" ng-show="solverStatus.state && !solverStatus.running" ng-disabled="!allForms.$valid || !isValidSequence(sequence, recipe.cls)">Restart Solver</button>
      <button class="btn btn-danger" ng-click="stopSolver()" ng-show="solverStatus.running">Stop Solve</button>
    </div>
    <h4>Solver Result
      <simulator-status class="solver-status" recipe="recipe" status="solverStatus" valid="isValidSequence(sequence, recipe.cls)"></simulator-status>
    </h4>
    <div ng-show="solverStatus.running">
      <progressbar class="progress-striped active" value="solverStatus.generationsCompleted/solverStatus.maxGenerations*100">{{solverStatus.generationsCompleted}}/{{solverStatus.maxGenerations}}</progressbar>
    </div>
    <div ng-show="!solverStatus.running">
      <div class="sequence well well-small" >
        <div ng-class="{'disabled-action-list': solverResult.sequence.equals(sequence)}">
          <img ng-repeat="action in solverResult.sequence track by $index"
               class="action"
               ng-class="actionClasses(action, recipe.cls)"
               ng-src="{{getActionImagePath(action, recipe.cls)}}"
               tooltip-html-unsafe="{{actionTooltip(action, recipe.cls)}}"
               tooltip-placement="top"
               tooltip-popup-delay="200"
               tooltip-append-to-body="true"/>
        </div>
      </div>
    </div>
    <div class="control-group" ng-show="solverResult.sequence.length > 0">
      <button class="btn btn-warning"
              ng-disabled="solverResult.sequence.length == 0 || solverResult.sequence.equals(sequence)"
              ng-click="useSolverResult()">Use Solver Result
      </button>
    </div>
  </div>
</div>
<tabset>
  <tab heading="Simulation Log" active="simulatorTabs.simulation.active">
    <pre>{{simulatorStatus.logText}}</pre>
  </tab>
  <tab heading="Solver Log" active="simulatorTabs.solver.active">
    <pre>{{solverResult.logText}}</pre>
  </tab>
</tabset>
