<h3>Solver</h3>
<hr/>
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li ui-sref-active="active"><a ui-sref="solver.solver-sequence">Sequence</a></li>
    <li ui-sref-active="active"><a ui-sref="solver.solver-options">Options</a></li>
  </ul>
</div>
<div ui-view></div>
<tabset>
  <tab heading="Simulation Log" active="simulatorTabs.simulation.active">
    <pre>{{simulatorStatus.logText}}</pre>
  </tab>
  <tab heading="Solver Log" active="simulatorTabs.solver.active">
    <pre>{{solverResult.logText}}</pre>
  </tab>
</tabset>
