<h3>Synth Details</h3>
<hr/>
<div class="row-fluid">
  <div class="settings-buttons">
    <div class="dropdown">
      <button type="button" class="btn" ng-click="newSynth()">New</button>
      <button type="button" class="btn dropdown-toggle">Load <span class="caret"></span></button>
      <ul class="dropdown-menu" isolate-scrolling>
        <li ng-repeat="name in savedSynthNames | orderBy:'toString()'">
          <a ng-click="loadSynth(name)">{{name}}</a>
        </li>
      </ul>
    </div>
    <button type="button" class="btn" ng-click="saveSynth()" ng-disabled="settings.name == '' || !recipeForm.$valid">Save</button>
    <button type="button" class="btn" ng-click="saveSynthAs()" ng-disabled="!recipeForm.$valid">Save As...</button>
    <div class="dropdown">
      <button type="button" class="btn dropdown-toggle">Delete <span class="caret"></span></button>
      <ul class="dropdown-menu" isolate-scrolling>
        <li ng-repeat="name in savedSynthNames | orderBy:'toString()'">
          <a ng-click="deleteSynth(name)">{{name}}</a>
        </li>
      </ul>
    </div>
    <div class="dropdown">
      <button type="button" class="btn dropdown-toggle">Rename <span class="caret"></span></button>
      <ul class="dropdown-menu" isolate-scrolling>
        <li ng-repeat="name in savedSynthNames | orderBy:'toString()'">
          <a ng-click="renameSynth(name)">{{name}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row-fluid">
  <form class="form-horizontal" name="recipeForm">
    <fieldset>
      <legend><small>Synth: <span class="light">{{synthNameForDisplay()}}<span ng-show="isSynthDirty()">*</span></span></small></legend>
      <div class="row-fluid">
        <div class="btn-group">
          <button class="btn btn-primary"
                  ng-model="recipe.cls"
                  btn-radio="class"
                  ng-repeat="class in allClasses"
                  tooltip="{{class}}"
                  tooltip-placement="top"
                  tooltip-append-to-body="true"
                  tooltip-popup-delay="200">
            <img ng-src="img/classes/{{class}}.png"/>
          </button>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span6">
          <div class="control-group recipe-search-control">
            <label class="control-label">Recipe</label>
            <div class="controls">
              <div class="my-dropdown">
                <div class="input-append">
                  <span class="uneditable-input my-dropdown-toggle">{{recipe.name}}</span>
                  <div class="btn-group">
                    <button class="btn my-dropdown-toggle"><span class="caret"></span></button>
                  </div>
                </div>
                <div class="my-dropdown-menu">
                  <input class="input-medium search my-dropdown-focus" type="text" name="name" ng-model="recipeSearch.text"
                         placeholder="Search..." select-on-focus stop-click-propogation
                         ng-keypress="onSearchKeyPress($event)" ng-keydown="onSearchKeyDown($event)"/>
                  <ul class="recipe-menu-scrollable" isolate-scrolling>
                    <li ng-repeat="r in recipeSearch.list" ng-class="{active: $index === recipeSearch.selected}" id="recipeSearchElement{{$index}}">
                      <a ng-click="importRecipe(r.name)" ng-mouseover="recipeSearch.selected=$index">[{{r.level}}] {{r.name}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="control-group" ng-class="{error: !recipeForm.level.$valid}">
            <label class="control-label">Level</label>
            <div class="controls">
              <input class="input-small" type="number" name="level" ng-model="recipe.level" min="1" required/>
            </div>
          </div>
          <div class="control-group" ng-class="{error: !recipeForm.difficulty.$valid}">
            <label class="control-label">Difficulty</label>
            <div class="controls">
              <input class="input-small" type="number" name="difficulty" ng-model="recipe.difficulty" min="0" required/>
            </div>
          </div>
          <div class="control-group" ng-class="{error: !recipeForm.durability.$valid}">
            <label class="control-label">Durability</label>
            <div class="controls">
              <input class="input-small" type="number" name="durability" ng-model="recipe.durability" min="0" required/>
            </div>
          </div>
          <div class="control-group" ng-class="{error: !recipeForm.startQuality.$valid}">
            <label class="control-label">Start Quality</label>
            <div class="controls">
              <input class="input-small" type="number" name="startQuality" ng-model="recipe.startQuality" min="0" required/>
            </div>
          </div>
          <div class="control-group" ng-class="{error: !recipeForm.maxQuality.$valid}">
            <label class="control-label">Max Quality</label>
            <div class="controls">
              <input class="input-small" type="number" name="maxQuality" ng-model="recipe.maxQuality" min="0" required/>
            </div>
          </div>
        </div>
        <div class="span1"></div>
        <div class="span3">
          <div class="well">
            <h5>{{recipe.cls}} Stats</h5>
            <ul>
              <li>Level: {{crafter.stats[recipe.cls].level}}</li>
              <li>Craftsmanship: {{crafter.stats[recipe.cls].craftsmanship}} + {{bonusStats.craftsmanship}}</li>
              <li>Control: {{crafter.stats[recipe.cls].control}} + {{bonusStats.control}}</li>
              <li>CP: {{crafter.stats[recipe.cls].cp}} + {{bonusStats.cp}}</li>
            </ul>
            <p><button class="btn" ng-click="showStatBonusesModal()">Stat Bonuses...</button></p>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
