<!doctype html>
<html lang="en" ng-app="ffxivCraftOptWeb">
<head>
  <meta charset="utf-8">
  <title>FFXIV Crafting Optimizer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <!--<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" media="screen"/>-->
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/bootstrap-responsive.min.css"/>
</head>
<body ng-controller="MainCtrl">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <button type="button" class="btn btn-navbar" ng-click="navBarCollapsed = !navBarCollapsed">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="#">lokyst.net</a>
        <div class="nav-collapse" collapse="navBarCollapsed">
          <ul class="nav">
            <li class="active"><a href="#">FFXIV Crafting Optimizer</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="span12">
      <accordion close-others="false">
        <accordion-group is-open="sections.synth.open">
          <accordion-heading>
            <my-section-header section="sections.synth"/>
          </accordion-heading>
          <div class="row-fluid">
            <tabset>
              <tab heading="Crafter">
                <div class="well">
                  <div class="btn-group">
                    <button class="btn btn-primary"
                            ng-model="crafter.cls"
                            btn-radio="class"
                            ng-repeat="class in allClasses"
                            tooltip="{{crafter.cls}}"
                            tooltip-placement="top"
                            tooltip-append-to-body="true"
                            tooltip-popup-delay="200">
                      <img ng-src="img/classes/{{class}}.png"/>
                    </button>
                  </div>
                  <div class="row-fluid">
                    <div class="span6">
                      <form class="form-horizontal">
                        <legend>{{crafter.cls}} Stats</legend>
                        <fieldset>
                          <div class="control-group">
                            <label class="control-label">Level</label>
                            <div class="controls">
                              <input class="input-small" type="number" ng-model="crafter.level"/>
                            </div>
                          </div>
                          <div class="control-group">
                            <label class="control-label">Craftsmanship</label>
                            <div class="controls">
                              <input class="input-small" type="number" ng-model="crafter.craftsmanship"/>
                            </div>
                          </div>
                          <div class="control-group">
                            <label class="control-label">Control</label>
                            <div class="controls">
                              <input class="input-small" type="number" ng-model="crafter.control"/>
                            </div>
                          </div>
                          <div class="control-group">
                            <label class="control-label">CP</label>
                            <div class="controls">
                              <input class="input-small" type="number" ng-model="crafter.cp"/>
                            </div>
                          </div>
                        </fieldset>
                      </form>
                    </div>
                    <div class="span6">
                      <form class="action-table">
                        <legend>Available Actions</legend>
                        <fieldset>
                          <div class="control-group" ng-repeat="actionGroup in actionGroups">
                            <label class="control-label">{{actionGroup.name}}</label>
                            <div class="controls">
                              <my-action-list actions="actionGroup.actions"
                                              action-class="{'selected-action': isActionSelected(action)}"
                                              action-click="toggleAction(action)"
                                              action-tooltip="allActions[action].name"/>
                            </div>
                          </div>
                        </fieldset>
                      </form>
                    </div>
                  </div>
                </div>
              </tab>
              <tab heading="Recipe">
                <form class="form-horizontal well">
                  <fieldset>
                    <div class="control-group">
                      <label class="control-label">Level</label>
                      <div class="controls">
                        <input class="input-small" type="number" ng-model="recipe.level"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Difficulty</label>
                      <div class="controls">
                        <input class="input-small" type="number" ng-model="recipe.difficulty"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Durability</label>
                      <div class="controls">
                        <input class="input-small" type="number" ng-model="recipe.durability"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Start Quality</label>
                      <div class="controls">
                        <input class="input-small" type="number" ng-model="recipe.startQuality"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Max Quality</label>
                      <div class="controls">
                        <input class="input-small" type="number" ng-model="recipe.maxQuality"/>
                      </div>
                    </div>
                  </fieldset>
                </form>
              </tab>
            </tabset>
          </div>
        </accordion-group>
        <accordion-group is-open="sections.simulator.open">
          <accordion-heading>
            <my-section-header section="sections.simulator"/>
          </accordion-heading>
          <div class="well">
            <div class="row-fluid">
              <form class="form-horizontal">
                <div class="control-group">
                  <my-action-list actions="sequence"
                                  action-tooltip="allActions[action].name"/>
                </div>
                <div class="control-group">
                  <button class="btn btn-primary" ng-click="editSequence()">Edit Sequence...</button>
                  <button class="btn btn-primary" ng-click="runSimulation()">Simulate</button>
                  <button class="btn btn-primary" ng-click="runSolver()">Solve</button>
                  <span ng-show="simulatorRunning">Running...</span>
                </div>
                <accordion>
                  <accordion-group is-open="sections.simulator.options.open">
                    <accordion-heading>
                      <my-section-header section="sections.simulator.options"/>
                    </accordion-heading>
                    <div class="row-fluid">
                      <div class="span6">
                        <div class="control-group">
                          <label class="control-label">Max Tricks</label>

                          <div class="controls">
                            <input class="input-small" type="number" ng-model="maxTricks"/>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">Montecarlo Runs:</label>

                          <div class="controls">
                            <input class="input-small" type="number" ng-model="simulation.maxMontecarloRuns"/>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">Penalty Weight:</label>

                          <div class="controls">
                            <input class="input-small" type="number" ng-model="solver.penaltyWeight"/>
                          </div>
                        </div>
                      </div>
                      <div class="span6">
                        <div class="control-group">
                          <label class="control-label">Population:</label>
                          <div class="controls">
                            <input class="input-small" type="number" ng-model="solver.population"/>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">Generations:</label>
                          <div class="controls">
                            <input class="input-small" type="number" ng-model="solver.generations"/>
                          </div>
                        </div>
                        <div class="control-group">
                          <div class="controls">
                            <label class="checkbox">
                              <input type="checkbox" ng-model="solver.specifySeed"/>Specify Seed
                            </label>
                            <input class="input-small" type="number" ng-model="solver.seed"
                                   ng-disabled="!solver.specifySeed"/>
                          </div>
                        </div>
                      </div>
                    </div>
                  </accordion-group>
                  <accordion-group is-open="sections.macro.open">
                    <accordion-heading>
                      <my-section-header section="sections.macro"/>
                    </accordion-heading>
                    <div class="row-fluid">
                      <form>
                        <p>Click + Ctrl/Cmd-C on each block to copy to clipboard.</p>
                        <label>Wait Time: <input class="input-small" type="number" ng-model="macro.waitTime"/></label>
                      </form>
                    </div>
                    <div class="row-fluid" ng-repeat="macroText in macro.macros">
                      <form>
                        <h6>Macro #{{$index+1}}</h6>
                        <textarea rows="16" readonly select-on-click>{{macroText}}</textarea>
                      </form>
                    </div>
                  </accordion-group>
                </accordion>
              </form>
            </div>
          </div>
          <tabset>
            <tab heading="Simulation Results" active="simulatorTabs.simulation.active">
              <pre>{{simulationResult}}</pre>
            </tab>
            <tab heading="Solver Results" active="simulatorTabs.solver.active">
              <pre>{{solverResult}}</pre>
            </tab>
          </tabset>
        </accordion-group>
      </accordion>
    </div>
  </div>
  
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/angular/angular-touch.min.js"></script>
  <script src="js/ui-bootstrap-tpls-0.7.0.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
