<!doctype html>
<html lang="en" ng-app="ffxivCraftOptWeb">
<head>
  <meta charset="utf-8">
  <title>FFXIV Crafting Optimizer</title>
  <!--<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" media="screen"/>-->
  <link href="css/bootstrap.css" rel="stylesheet" media="screen"/>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/bootstrap-responsive.css"/>
</head>
<body ng-controller="MainCtrl">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <button type="button" class="btn btn-navbar" ng-click="navBarCollapsed = !navBarCollapsed">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="#">lokyst.net</a>
        <div class="nav-collapse" collapse="navBarCollapsed">
          <ul class="nav">
            <li class="active"><a href="#">FFXIV Crafting Optimizer</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <accordion close-others="false">
      <accordion-group is-open="sections.crafterDetails.open">
        <accordion-heading>
            <my-section-header section="sections.crafterDetails"/>
        </accordion-heading>
        <div class="row-fluid action-row" ng-repeat="actionGroup in allActions">
          <div class="span2">
            {{actionGroup.name}}:
          </div>
          <div class="span10">
            <my-action-list actions="actionGroup.actions"
                            action-class="{'selected-action': isActionSelected(action)}"
                            action-click="toggleAction(action)"/>
          </div>
        </div>
      </accordion-group>
      <accordion-group is-open="sections.recipeDetails.open">
        <accordion-heading>
            <my-section-header section="sections.recipeDetails"/>
        </accordion-heading>
        <div>
          <form class="form-horizontal">
            <fieldset>
              <div class="control-group">
                <label class="control-label">Level</label>
                <div class="controls">
                  <input type="number" ng-model="recipe.level"/>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Difficulty</label>
                <div class="controls">
                  <input type="number" ng-model="recipe.difficulty"/>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Durability</label>
                <div class="controls">
                  <input type="number" ng-model="recipe.durability"/>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Start Quality</label>
                <div class="controls">
                  <input type="number" ng-model="recipe.startQuality"/>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Max Quality</label>
                <div class="controls">
                  <input type="number" ng-model="recipe.maxQuality"/>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </accordion-group>
      <accordion-group is-open="sections.sequence.open">
        <accordion-heading>
            <my-section-header section="sections.sequence"/>
        </accordion-heading>
        <div class="row-fluid">
          <div class="span12">
            <my-action-list actions="sequence"/>
          </div>
        </div>
        <div class="row-fluid">
          <button class="btn btn-primary">Simulate</button>
        </div>
      </accordion-group>
      <accordion-group is-open="sections.macro.open">
        <accordion-heading>
            <my-section-header section="sections.macro"/>
        </accordion-heading>
        <div>
          <pre>{{macroText}}</pre>
        </div>
        <div>
          <a class="btn" href="#"><i class="icon-briefcase"></i> Copy to clipboard</a>
        </div>
      </accordion-group>
    </accordion>
  </div>
  
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="js/ui-bootstrap-tpls-0.7.0.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
