<div class="modal-header">
  <h3>Add Recipe <small>[{{recipe.cls}}]</small></h3>
</div>
<div class="modal-body" isolate-scrolling>
  <form class="form-horizontal" name="recipeForm">
    <fieldset>
      <div class="control-group" ng-class="{error: !recipeForm.name.$valid}">
        <label class="control-label">Name</label>
        <div class="controls">
          <input class="input-medium" type="text" name="name" ng-model="recipe.name" required/>
        </div>
      </div>
      <div class="control-group" ng-class="{error: !recipeForm.level.$valid}">
        <label class="control-label">Level</label>
        <div class="controls">
          <input class="input-small" type="number" name="level" ng-model="recipe.level" min="1" required/>
        </div>
      </div>
      <div class="control-group" ng-class="{error: !recipeForm.difficulty.$valid}">
        <label class="control-label">Difficulty</label>
        <div class="controls">
          <input class="input-small" type="number" name="difficulty" ng-model="recipe.difficulty" min="0" required/>
        </div>
      </div>
      <div class="control-group" ng-class="{error: !recipeForm.durability.$valid}">
        <label class="control-label">Durability</label>
        <div class="controls">
          <input class="input-small" type="number" name="durability" ng-model="recipe.durability" min="0" required/>
        </div>
      </div>
      <div class="control-group" ng-class="{error: !recipeForm.maxQuality.$valid}">
        <label class="control-label">Max Quality</label>
        <div class="controls">
          <input class="input-small" type="number" name="maxQuality" ng-model="recipe.maxQuality" min="0" required/>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="save()" ng-disabled="!recipeForm.$valid">Save</button>
  <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
</div>
