<div class="modal-header">
  <h3 style="text-align: center">{{ 'MACRO_IMPORT' | translate }}</h3>
</div>

<div class="modal-body">

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <p translate="{{ 'MACRO_IMPORT_INFO'}}"></p>
        <textarea class="macro-text" rows="10" auto-focus ng-model="vm.macroText"></textarea>
      </div>
    </div>
  </div>

</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="vm.importMacro()" ng-disabled="!vm.canImport()">{{ 'IMPORT' | translate }}</button>
  <button class="btn" ng-click="vm.cancel()">{{ 'CANCEL' | translate }}</button>
</div>
