<div class="modal-header">
  <h3>Stat Bonuses</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal" name="statsForm">
    <fieldset>
      <div class="control-group" ng-class="{error: !statsForm.craftsmanship.$valid}">
        <label class="control-label">Craftsmanship</label>
        <div class="controls">
          <input class="input-small" type="number" name="craftsmanship" ng-model="bonusStats.craftsmanship" min="0" required/>
        </div>
      </div>
      <div class="control-group" ng-class="{error: !statsForm.control.$valid}">
        <label class="control-label">Control</label>
        <div class="controls">
          <input class="input-small" type="number" name="control" ng-model="bonusStats.control" min="0" required/>
        </div>
      </div>
      <div class="control-group" ng-class="{error: !statsForm.cp.$valid}">
        <label class="control-label">CP</label>
        <div class="controls">
          <input class="input-small" type="number" name="cp" ng-model="bonusStats.cp" min="0" required/>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="clear()">Clear</button>
  <button class="btn btn-primary" ng-click="save()" ng-disabled="!statsForm.$valid">Save</button>
  <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
</div>
