<div class="page-header"><h1>{{ 'ABOUT_TITLE' | translate }}</h1></div>

<p>{{ 'ABOUT_INTRO' | translate }}</p>

<h2>{{ 'ABOUT_INFORMATION' | translate}}</h2>

<ul>
  <li><a href="http://na.finalfantasyxiv.com/">Final Fantasy XIV</a></li>
  <li><a href="http://www.bluegartr.com/threads/117684-The-crafting-thread.">Bluegartr - The Crafting Thread</a></li>
  <li><a href="http://www.reddit.com/r/ffxiv/">FFXIV subreddit</a>
</ul>

<h2>{{ 'ABOUT_BUG' | translate }}</h2>

<p>{{ 'ABOUT_REPORT_ISSUES' | translate }}<a href="https://github.com/doxxx/ffxiv-craft-opt-web/issues?labels=&milestone=&page=1&state=open">{{ 'ABOUT_REPORT_HERE' | translate }}</a>

<h2>{{ 'ABOUT_CONTRIBUTORS' | translate}}</h2>

<p>{{ 'ABOUT_CONTRIBUTORS_BLURB' | translate }}</p>

<ul>
  <li>Ermad</li>
  <li>gr3ger</li>
  <li>ShammyLevva</li>
  <li>RyuaNerin</li>
  <li>kongspark</li>
  <li>Jengines</li>
  <li>yls888</li>
  <li>kurax</li>
  <li>zzoru</li>
  <li>tyrone-sudeium</li>
  <li>solnus</li>
  <li>nmarquesb</li>
  <li>butterflo</li>
  <li>Igor-Yavych</li>
</ul>

<h2>{{ 'ABOUT_ANYTHING' | translate }}</h2>

<p>{{ 'ABOUT_RESEMBLANCE' | translate }}<a href="http://craftingasaservice.com/">Crafting as a Service</a>{{ 'ABOUT_COINCIDENCE' | translate }}</p>
