<div class="page-header"><h1>What is this?</h1></div>

<p>Given the crafter's details, a list of available actions and the details of the recipe, the FFXIV Crafting Optimizer uses a genetic algorithm to determine a sequence of actions that will maximize the expected value of the final quality of the synthesis. Because the solver is not deterministic and crafting itself has random elements, the solution provided is not guaranteed, especially if Tricks of the Trade is used. Use at your own risk!</p>

<h2>Where did you get your information?</h2>

<ul>
  <li><a href="http://na.finalfantasyxiv.com/">Final Fantasy XIV</a></li>
  <li><a href="http://www.bluegartr.com/threads/117684-The-crafting-thread.">Bluegartr - The Crafting Thread</a></li>
  <li><a href="http://www.reddit.com/r/ffxiv/">FFXIV subreddit</a>
</ul>

<h2>I found a bug!</h2>

<p>Please report issues <a href="https://github.com/doxxx/ffxiv-craft-opt-web/issues?labels=&milestone=&page=1&state=open">here.</a>

<h2>Anything else I should know?</h2>

<p>Any resemblance to <a href="http://craftingasaservice.com/">Crafting as a Service</a> is purely co-incidental. It is a nifty site though, and I highly recommend checking it out.</p>
