<div class="row-fluid">
  <div class="span12">
    <tabset>
      <tab ng-repeat="tab in tabs" active="tab.active" select="onTabSelect(tab)">
        <tab-heading><img ng-src="img/classes/{{tab.name}}.png"/> &nbsp; {{tab.name}}</tab-heading>
      </tab>
      <span class="pull-right btn-group">
        <button class="btn" ng-click="refreshChar()" ng-if="character" ng-disabled="character.refreshing" tooltip="{{character.name}} on {{character.server}}" tooltip-popup-delay="500">
          <i class="fa fa-spinner fa-pulse" ng-if="refreshing"></i>
          Refresh
        </button>
        <button class="btn" ng-click="showCharImportModal()">Import...</button>
      </span>
    </tabset>
    <div class="row-fluid">
      <div class="span6">
        <form class="form-horizontal" name="crafterForm">
          <fieldset>
            <legend>Attributes</legend>
            <div class="control-group" ng-class="{error: !crafterForm.level.$valid}">
              <label class="control-label">Level</label>
              <div class="controls">
                <input class="input-mini" type="number" name="level" ng-model="crafter.stats[currentClass].level" min="1" max="70" required/>
              </div>
            </div>
            <div class="control-group" ng-class="{error: !crafterForm.craftsmanship.$valid}">
              <label class="control-label">Craftsmanship</label>
              <div class="controls">
                <input class="input-mini" type="number" name="craftsmanship" ng-model="crafter.stats[currentClass].craftsmanship" min="0" required/>
              </div>
            </div>
            <div class="control-group" ng-class="{error: !crafterForm.control.$valid}">
              <label class="control-label">Control</label>
              <div class="controls">
                <input class="input-mini" type="number" name="control" ng-model="crafter.stats[currentClass].control" min="0" required/>
              </div>
            </div>
            <div class="control-group" ng-class="{error: !crafterForm.cp.$valid}">
              <label class="control-label">CP</label>
              <div class="controls">
                <input class="input-mini" type="number" name="cp" ng-model="crafter.stats[currentClass].cp" min="0" required/>
              </div>
            </div>
            <div class="control-group" ng-class="{error: !crafterForm.specialist.$valid}">
              <label class="control-label">Specialist</label>
              <div class="controls">
                <label class="checkbox"><input type="checkbox" name="specialist" ng-model="crafter.stats[currentClass].specialist"/></label>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="span6">
        <form class="action-table">
          <fieldset>
            <legend>Available Actions
              <span class="pull-right btn-group">
                <button class="btn" ng-click="selectAllActions(currentClass)">All</button>
                <button class="btn" ng-click="selectActionsByLevel(currentClass)">By Level</button>
                <button class="btn" ng-click="selectNoActions(currentClass)">None</button>
              </span>
            </legend>
            <action-table cls="currentClass" on-click="toggleAction" action-classes="crafterActionClasses" selectable="true" tooltip-placement="left"/>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
