<section>
  <div class="page-header"><h1>{{ 'INSTRUCTIONS_TITLE' | translate }}</h1></div>

      <ol>
        <li>{{ 'INSTRUCTIONS_STEP_1' | translate }}<b>{{ 'NAV_CRAFTER_ATTRIBUTES' | translate }}</b>{{ 'SECTION' | translate }}<br/> <img src="img/instructions/CrafterDetails{{ 'Locale_Mark' | translate }}.jpg"/></li>

        <li>{{ 'INSTRUCTIONS_STEP_2' | translate }}</li>
        <li>{{ 'INSTRUCTIONS_STEP_3' | translate }}</li>
        <li>{{ 'INSTRUCTIONS_STEP_4' | translate }}<b>{{ 'AVAILABLE_ACTIONS' | translate }}</b>{{ 'SECTION' | translate }}<br/> <img src="img/instructions/AvailableActions{{ 'Locale_Mark' | translate }}.jpg"/></li>
        <li>{{ 'INSTRUCTIONS_STEP_5' | translate }}</li>
        <li>{{ 'INSTRUCTIONS_STEP_6' | translate }}</li>
        <li>{{ 'INSTRUCTIONS_STEP_7' | translate }}<b>{{ 'NAV_SIMULATOR' | translate }}</b>{{ 'SECTION' | translate }}<br/> <img src="img/instructions/SynthDetails{{ 'Locale_Mark' | translate }}.jpg"/></li>
        <li>{{ 'INSTRUCTIONS_STEP_8' | translate }}</li>
        <li>{{ 'INSTRUCTIONS_STEP_9' | translate }}</li>
        <li>{{ 'INSTRUCTIONS_STEP_10' | translate }}</li>
        <li>{{ 'INSTRUCTIONS_STEP_11' | translate }}</li>
        <li>{{ 'INSTRUCTIONS_STEP_12' | translate }}</li>
        <li>{{ 'INSTRUCTIONS_STEP_13' | translate }}<b>{{ 'NAV_SIMULATOR' | translate }}</b>{{ 'SECTION' | translate }}<br/> <img src="img/instructions/Simulator{{ 'Locale_Mark' | translate }}.jpg"/></li>
        <li>{{ 'INSTRUCTIONS_STEP_14' | translate }}<br/> <img src="img/instructions/SequenceEditor{{ 'Locale_Mark' | translate }}.jpg"/></li>
        <li>{{ 'INSTRUCTIONS_STEP_15' | translate }}<b>{{ 'SAVE' | translate }}</b>.</li>
        <li>{{ 'INSTRUCTIONS_STEP_16' | translate }}<b>{{ 'SOLVE' | translate }}</b></li>
        <li>{{ 'INSTRUCTIONS_STEP_17' | translate }}<b>{{ 'OPTIONS' | translate }}</b>{{ 'SECTION' | translate }}</li>
        <li>{{ 'INSTRUCTIONS_STEP_18' | translate }}<b>{{ 'MONTE_CARLO_SIM' | translate }}/{{ 'PROBABILISTIC_SIM' | translate }}</b>{{ 'SECTION' | translate }}<br/> <img src="img/instructions/SimulationLog{{ 'Locale_Mark' | translate }}.jpg"/></li>
        <li>{{ 'INSTRUCTIONS_STEP_19' | translate }}<br/>{{ 'ABBREVIATIONS' | translate }}
          <ul>
            <li>{{ 'DUR_ABBREVIATION' | translate }}</li>
            <li>{{ 'CP_ABBREVIATION' | translate }}</li>
            <li>{{ 'EQUA_ABBREVIATION' | translate }}</li>
            <li>{{ 'EPRG_ABBREVIATION' | translate }}</li>
            <li>{{ 'WAC_ABBREVIATION' | translate }}</li>
          </ul>
        </li>
        <li>{{ 'INSTRUCTIONS_STEP_20' | translate }}</li>
        <li>{{ 'INSTRUCTIONS_STEP_21' | translate }}</li>
      </ol>
</section>

<section>
  <div class="page-header"><h1>{{ 'USING_SOLVER' | translate }}</h1></div>

      <p>{{ 'USING_SOLVER_INFO' | translate }}

      <ol>
        <li>{{ 'USING_SOLVER_STEP_1' | translate }}</li>
        <li>{{ 'USING_SOLVER_STEP_2' | translate }}</li>
        <li>{{ 'USING_SOLVER_STEP_3' | translate }}</li>
        <li>{{ 'USING_SOLVER_STEP_4' | translate }}</li>
        <li>{{ 'USING_SOLVER_STEP_5' | translate }}</li>
      </ol>
</section>
